<div class="container list">

    <div class="header">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>

    <input placeholder="Search" class="col-xs-12 filter" ng-model="filter">

    <div ng-repeat="item in list | filter:filter" ng-click="view(item.id)" class="row link">
        <div class="visible-xs">
            <h2 class="col-xs-12">{{item.name}}</h2>
            <img class="col-xs-12 profile-small" ng-src="images/{{item.image}}">
            <div class="col-xs-9 cod">Cause of death: {{item.causeOfDeathShort}}</div>
            <h3 class="col-xs-3 date">{{item.date}}</h3>
            <div class="col-xs-12 verdict">Verdict: {{item.verdict}}</div>
            <div class="col-xs-12 block about">{{item.about}}</div>
        </div>
        <div class="hidden-xs">
            <div class="col-sm-3">
                <img class="profile-large" ng-src="images/{{item.image}}">
            </div>
            <div class="col-sm-9">
                <h2 class="col-sm-9 name">{{item.name}}</h2>
                <h3 class="col-sm-3 date">{{item.date}}</h3>
                <div class="col-sm-12 cod">Cause of death: {{item.causeOfDeathShort}}</div>
                <div class="col-sm-12 verdict">Verdict: {{item.verdict}}</div>
                <div class="col-sm-12 block about">{{item.about}}</div>
            </div>
        </div>
    </div>
</div>
